FFFbody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 50px;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 250px;
    box-shadow: 0 0 10px rgba(750, 750, 750, 0.1);
}

footer {
    background-color: #003d5b;
    color: white;
    padding: 10px;
}